* {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(44, 44, 44);
  color: white;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  padding: 2em;
}
nav li {
  font-size: 1.3rem;
  font-family: Arial;
  margin: 0 2em;
  color: white;
}
a {
  text-decoration: none;
}

.convert-container {
  display: flex;
  margin-top: 8em;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(66, 245, 66);
  font-family: "consolas", sans-serif;
}
h4 {
  margin: 1.9rem 0;
  font-size: 1.4rem;
}
input {
  padding: 0.6em;
  font-size: 1rem;
  background-color: rgba(27, 26, 26, 0.397);
  border: 1px solid rgb(29, 27, 27);
  margin: 0.6rem;
  color: rgb(66, 245, 66);
}
h1 {
  text-align: center;
  margin-top: 2em;
}
button {
  background-color: rgb(124, 152, 212);
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.7rem 1.3rem;
  cursor: pointer;
}
.box {
  margin: 3rem 0;
  background-color: rgba(46, 20, 20, 0.144);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  margin: 3rem 0;
}

.social {
  margin: 3em 0;
}
.social a {
  text-decoration: underline !important;
  color: rgb(124, 152, 212);
}
